<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VIEWS & BELIEFS</title>
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link rel="icon" href="../favicons/favicon1.png">
<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <!-- Hero Section -->
  <section class="hero" id="hero">
    <h2 class="hero_header">VIEWS AND <span class="light">BELIEFS</span></h2>
    <p class="tagline">WHAT THE MAN BELIEVED <span id="type"></span></p>
  </section>
  <script src="typed.js" type="text/javascript"></script>
	<script type="text/javascript">
	var typed3 = new Typed('#type', {
    strings: ["ABOUT NATURE" , "ABOUT HUMAN SOCIETY"],
    typeSpeed: 50,
    backSpeed: 50,
    smartBackspace: true, // this is a default
    loop: true
  });
	
	</script>
  <!-- About Section -->
  <section class="about" id="about">
    <h2 class="hidden">About</h2>
    <p class="text_column">The inventor doesn’t take part in any religion and doesn’t believe in any higher entities. Apparently he hasn’t outright called himself an atheist, but it seems to be the case. When asked whether he believed "there was some kind of destiny involved" in humanity's transition to a multi-planetary species, rather than "just physics", Musk responded:
 </p>
    <p class="text_column">Well, I do. Do I think that there's some sort of master intelligence architecting all of this stuff? I think probably not because then you have to say: "Where does the master intelligence come from?" So it sort of begs the question. So I think really you can explain this with the fundamental laws of physics. You know it's complex phenomenon from simple elements. </p>
    <p class="text_column">Musk has stated that he does not pray, or worship any being, although previously admitted to praying before an important Falcon 1 launch, asking "any entities that were listening" to "bless the launch". He is a firm believer that religion and science cannot co-exist.
 </p>
  </section>
  <!-- Stats Gallery Section -->
  <!-- Parallax Section -->
  <section class="banner">
    <h2 class="parallax">THE SIMULATION HYPOTHESIS</h2>
    <hr>
    <p class="parallax_description">One belief that Musk does lean towards is something called the Simulation Hypothesis. It’s a theory that everything we see around us, from the people in our lives to the galaxies far away in space, are simulations in someone else’s computer program. Musk is so convinced that this theory is real that he’s said “There’s a billion to one chance we’re living in base reality.” 
</p>
  </section>
  <!-- More Info Section -->
  <footer>
<article class="footer_column">
  <h3>&nbsp;</h3>
  <img src="../../views.jpg" alt="" width="400" height="200" class="cards"/>
      <h3 id = "man">HIS HOBBIES</h3>
	<p id = "brother">Elon is a known workaholic and apparently occupies most of his time working in one of his many projects.He is a fierce critic of unregulated research into artificial intelligence (AI).
</p>
	<h3 id = "woman">POLITICAL VIEWS</h3>
	<p id = "sister">Musk’s called himself a half-Democrat half-Republican, “I’m somewhere in the middle, socially liberal and fiscally conservative.” The inventor himself has given US $725,000 to a number of political campaigns and SpaceX has spent over US $4 million on lobbying Congress. Among Musk’s personal contributions there is funding to Bush’s 2004 campaign and Obama’s 2012 campaign, as well as a number of other politicians running for other offices.
</p>
    </article>
  </footer>
  <!-- Footer Section -->
  <section class="footer_banner" id="contact">
    <h2 class="hidden">Footer Banner Section </h2>
    <p class="hero_header">&nbsp;</p>
    <div class="button"><a class="return" href="../index.html">RETURN</a></div>
  </section>
  <!-- Copyrights Section -->
  <div class="copyright">&copy;2019 - <strong>LAN</strong></div>
</div>
<!-- Main Container Ends -->
</body>
</html>
